streamlit>=1.31
langchain>=0.2,<0.3
langchain-community
langchain-core
langchain-chroma
langchain-groq
langchain-huggingface
chromadb
sentence-transformers
unstructured
unstructured[pdf]
pypdf
torch
numpy
